:root {
   
    /*Primary*/
    --pri9: #212121;
    --pri8: #424242;
    --pri7: #616161;
    --pri6: #757575;
    --pri5: #9E9E9E;
    --pri4: #BDBDBD;
    --pri3: #E0E0E0;
    --pri2: #EEEEEE;
    --pri1: #F5F5F5;
    --pri0: #FAFAFA;

    --pri6: #4A6572;
    --pri7: #344955;
    --pri8: #232F34;


    /*Secondary*/
    --sec9: #004D40;
    --sec8: #00695C;
    --sec7: #00796B;
    --sec6: #00897B;
    --sec5: #009688;
    --sec4: #26A69A;
    --sec3: #4DB6AC;
    --sec2: #80CBC4;
    --sec1: #B2DFDB;
    --sec0: #E0F2F1;
    
    /* Colors */
    --colVer: rgb(11, 226, 51);
    --colRoj: rgb(177, 3, 35);
    --colAzu: rgb(30, 30, 255);
    --colAzuCla: rgb(30, 165, 255);
    --colAma: rgb(255, 255, 28);
    --colNarCla: rgb(255, 197, 8);
    --colNar: #F9AA33;
    
    
    /*Theme*/
    --bac: rgb(237, 240, 242);
    --card-bac: rgb(51,51,61);
    --pri: var(--pri6);
    --priVar: var(--pri8);
    --sec: var(--sec6);
    --secVar: var(--sec8);
    
    
    /* --bac: var(--pri0); */
    --sur: var(--pri0);
    --err: var(--colRoj);
    --suc: var(--colVer);
    --onPri: var(--pri0);
    --onSec: var(--pri0);
    --onBac: var(--pri9);
    --onSur: var(--pri9);
    --onErr: var(--pri0);
    --onSuc: var(--pri9);
}

* {
    margin: 0;
	padding: 0;
	
	font-family: 'Hind', sans-serif;
}

html {
	font-size: 15px;
	background-color: var(--pri1);
}
