.sliderProductosHome {
    margin-left: 1em;
    font-weight: bold;
    font-size: 1.5em;
    color: var(--pri09);
}

.scrolling-wrapper-flexbox {
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
	flex-direction: row;
	align-items: flex-start;
	width: auto;
  
	.cardSlider {
		flex: 0 0 auto;
	  	//pointer-events: none;
	  	margin: 0.3em;
	  	display: flex;
	  	justify-content: center;
	  	align-items: center;
	  
	} 

	.bestSellContainer {
		height: 14em;
		width: 14em;
		background-color: white;
		flex: 0 0 auto;
		display: flex;
	  	justify-content: center;
		align-items: center;

		border-style: solid;
		border-color: white;
		border-width: 1px;
	
		transition: border-color 0.05s;
		  

	}

	.cardSlider .bestSellContainer img {
		height: 10em;
	}
	
	.bestSellContainer:hover {
		border-color: var(--pri4);
	}
  }
  
  .scrolling-wrapper-flexbox {
	&::-webkit-scrollbar {
	  display: none;
	}
  }